.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    margin-top: -15px;
    margin-left: -15px;
    width: 100% + 15px;
}
.nav-links {
    display: flex;
}

.nav-links a {
    font-size: 3rem;
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

.nav-links a:hover {
    text-decoration: underline;
}
div{
    border: solid black 1px;
}
.lotMap{
    width: 90%;
}
.fullMap{
    width: 80%;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
        
}
.feedItem{
    width: 45%;
    float: right;
    justify-content: center; 
    margin-right: 15px;
    height: 20%;
}
body{
    font-family: serif;
}
#lotFeed{
    width: 95%;
    justify-content: center;
    text-align: center;
}